# Node
node_modules/
web/node_modules/
web/dist/

# Python
__pycache__/
*.pyc
.env
.env.local
.env.*
.venv/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.idea/
.vscode/
.DS_Store

# Coverage
coverage/
web/coverage/
api/.pytest_cache/
api/.mypy_cache/

# Alembic
api/alembic/versions/__pycache__/
